<div class="border-form-div">
  <h2>Log In</h2>
  <%= form_for(:session, url:sessions_path, html: {class: 'form-horizontal'}) do |f| %>
    <div class="form-group">
      <%= f.label :email,"Email", class: "col-sm-3 control-label" %>
      <div class="input-group col-sm-6">
        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw form-fa"></i></span>
        <%= f.email_field :email, :autofocus => true, :placeholder => 'email@provider.com', class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, "Password",class: "col-sm-3 control-label" %>
      <div class="input-group col-sm-6">
        <% if :email == "test@test.com" %>
            <%= f.password_field :password, value: "test1234", class: "form-control" %>
        <% else %>
            <%= f.password_field :password, :placeholder => 'Password with 8+ characters', class: "form-control" %>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="offset3 col-sm-offset-3 col-sm-6">
        <%= button_tag(type: "submit", class: "btn btn-default float-btn btn-lg btn-block", title: "Log In") do %>
          <i class="fa fa-sign-in fa-fw"></i> Log In
        <% end %>
      </div>
    </div>
  <% end %>
</div>