
<%= form_for(@timecard, remote: true, html: { class: 'form-horizontal' }) do |f| %>
    <ul class="errors"></ul>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="form-group">
      <%= f.label :start_date, "Start Date", class: "control-label" %>
      <%= f.date_field :start_date, class:"form-control" %>
    </div>

    <div class="form-group">
    <%= f.label :end_date, "End Date", class: "control-label" %>
    <%= f.date_field :end_date, class:"form-control" %>
    </div>



    <div class="form-group">
      <div class="offset3 col-sm-offset-3 col-sm-6">
        <%= render 'layouts/submit', form_type: "Timecard", object: @timecard, f: f %>
      </div>
    </div>


<% end %>