<%= render 'layouts/errors', object: @timecard %>

<%= form_for(@timecard, html: { class: 'form-horizontal' }) do |f| %>

<%= f.label :start_date, "Start Date", class: "control-label" %>
<%= f.date_field :start_date, class:"form-control" %>

<%= f.label :end_date, "End Date", class: "control-label" %>
<%= f.date_field :end_date, class:"form-control" %>



  <div class="form-group">
    <div class="offset3 col-sm-offset-3 col-sm-6">
      <%= button_tag(type: "submit", class: "btn btn-default float-btn btn-lg btn-block", title: "Submit") do %>
        <i class="fa fa-sign-in fa-fw"></i> Submit
      <% end %>
    </div>
  </div>

<% end %>