<div class="container-fluid">

  <div class="jumbotron jumbo">
    <h2>Timecards
    <%= image_tag("time-icon.png", class:"home-time") %>
    </h2>
  <p>Account: <%= render 'layouts/username' %></p>
  <%= link_to '<i class="fa fa-plus-circle"></i> Create New Timecard'.html_safe, new_timecard_path, remote: true, class:"btn btn-default" %>
  <%= link_to '<i class="fa fa-home"></i> Home'.html_safe, root_url, class: "btn btn-default" %>
  </div>

  <div class="timecard-index">
    <%= render 'index' %>
  </div>

<div id="timecard-modal" class="modal">
  Timecard-Modal
</div>

</div>
