<div class="container-fluid">

  <div class="jumbotron jumbo">
    <h2 class="row-head">Timecard Detail</h2>
    <%= link_to "<i class='fa fa-archive'></i> View All Timecards".html_safe, timecards_path, class: "btn btn-default" %>
  </div>

  <div class="row1">
    <h4 class="row-head">Work Week</h4>
    <p><strong><i class="fa fa-calendar"></i> Start Date: </strong><%= @timecard.start_date.strftime("%m/%d/%Y") %>
    &nbsp&nbsp
    <strong><i class="fa fa-calendar"></i> End Date: </strong><%= @timecard.end_date.strftime("%m/%d/%Y") %></p>
  </div>

  <div class="row3">
    <%= button_tag("<i id='iconChange'class='fa fa-plus-circle'></i> Add a Workday".html_safe, id:"add-workday-btn",type:'button',class: "btn btn-default",title:'Click if you want to to add workday details') %>
    <div id="add-workday">
      <%= render 'days/form' %>
    </div>
  </div>
  <div class="row2">
    <h4 class="row-head">Days Worked</h4>
    <% @timecard.days.each do |day| %>
      <% if day.work_date != nil %>
        <p><strong><i class="fa fa-calendar"></i> Day Worked: </strong><%= day.work_date.strftime("%m/%d/%Y") %></p>
        <p><strong><i class="fa fa-clock-o fa-fw"></i> Started: </strong><%= day.start_time.strftime("%I:%M:%S %p") %>
        <strong><i class="fa fa-clock-o fa-fw"></i> Ended: </strong><%= day.stop_time.strftime("%I:%M:%S %p") %></p>
        <p>Worked: <%= day.total_hours %> hrs</p>
        <p><strong><i class="fa fa-clock-o fa-fw"></i> Lunch: </strong><%= day.lunch_start.strftime("%I:%M:%S %p") %> to <%= day.lunch_end.strftime("%I:%M:%S %p") %></p>
        <p>Lunch: <%= day.total_lunch %> hrs</p>
        <p><strong><i class="fa fa-calculator fa-fw "></i>Total for Day</strong> <%= day.total_day %> hrs</p>
      <% end %>
    <% end %>
  </div>

</div>