<div class="container-fluid">

  <div class="jumbotron jumbo">
    <h2>Timecard Detail</h2>
    <%= link_to "<i class='fa fa-archive'></i> View All Timecards".html_safe, timecards_path, class: "btn btn-default" %>
  </div>

  <div class="row1">
    <h4>Work Week</h4>
    <p><strong><i class="fa fa-clock-o"></i> Start Date: </strong><%= @timecard.start_date.strftime("%m/%d/%Y") %></p>
    <p><strong><i class="fa fa-clock-o"></i> End Date: </strong><%= @timecard.end_date.strftime("%m/%d/%Y") %></p>
  </div>

  <div class="row2">
    <h4>Days</h4>
    <% @timecard.days.each do |day| %>
      <p><strong><i class="fa fa-clock-o"></i> Day Worked: </strong><%= day.work_date %></p>
      <p><strong>Start Time: </strong><%= day.start_time %></p>
      <p><strong>Stop Time: </strong><%= day.stop_time %></p>
      <p><strong>Lunch Time: </strong><%= day.lunch_start %> to <%= day.lunch_stop %></p>
    <% end %>
  </div>

</div>