<div class="container-fluid">

  <div class="jumbotron jumbo">
    <h2 class="row-head">Timecard Detail</h2>
    <%= link_to "<i class='fa fa-archive'></i> View All Timecards".html_safe, timecards_path, class: "btn btn-default" %>
  </div>

  <div class="row1">
    <h4 class="row-head">Work Week</h4>
    <p><strong><i class="fa fa-calendar"></i> Start Date: </strong><%= @timecard.start_date.strftime("%m/%d/%Y") %>
    &nbsp&nbsp
    <strong><i class="fa fa-calendar"></i> End Date: </strong><%= @timecard.end_date.strftime("%m/%d/%Y") %></p>
  </div>

  <div class="row3">
  <h4 class="row-head">Add a Workday</h4>
    <%= form_for(([@timecard, @day]), html: {class: 'form-horizontal' }) do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %>

      <div class="form-group">
        <%= f.label :work_date, "Day Worked", class: "col-xs-12 col-sm-2"%>
        <div class="input-group col-xs-8 col-sm-2">
          <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
          <%= f.date_field :work_date, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :start_time, "Start Time", class: "col-xs-12 col-sm-2"%>
        <div class="input-group col-xs-8 col-sm-2">
          <span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
          <%= f.time_field :start_time, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :stop_time, "Stop Time", class: "col-xs-12 col-sm-2"%>
        <div class="input-group col-xs-8 col-sm-2">
          <span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
          <%= f.time_field :stop_time, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :lunch_start, "Lunch Started", class: "col-xs-12 col-sm-2"%>
        <div class="input-group col-xs-8 col-sm-2">
          <span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
          <%= f.time_field :lunch_start, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :lunch_end, "Lunch Ended", class: "col-xs-12 col-sm-2"%>
        <div class="input-group col-xs-8 col-sm-2">
          <span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
          <%= f.time_field :lunch_end, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="offset3 col-sm-offset-2 col-sm-3">
          <%= render 'layouts/submit', form_type: "Day", object: @day, f: f %>
        </div>
      </div>

    <% end %>
  </div>

  <div class="row2">
    <h4 class="row-head">Days Worked</h4>
    <% @timecard.days.each do |day| %>
      <% if day.work_date != nil %>
        <p><strong><i class="fa fa-calendar"></i> Day Worked: </strong><%= day.work_date.strftime("%m/%d/%Y") %></p>
        <p><strong><i class="fa fa-clock-o fa-fw"></i> Started: </strong><%= day.start_time.strftime("%I:%M:%S %p") %>
        <strong><i class="fa fa-clock-o fa-fw"></i> Ended: </strong><%= day.stop_time.strftime("%I:%M:%S %p") %></p>
        <p><strong><i class="fa fa-calculator fa-fw "></i>Total for Day </strong><%= (day.stop_time - day.start_time) / 3600 %> hours</p>
      <% end %>
    <% end %>
  </div>

</div>