<%= render 'layouts/errors', object: @day %>

<%= simple_form_for(@day, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.label :start_time, "Start Time", class: "control-label" %>
  <%= f.time_field :start_time, class: "form-control" %>

  <%= f.label :stop_time, "Start Time", class: "control-label" %>
  <%= f.time_field :stop_time, class: "form-control" %>

  <%= f.label :lunch_start, "Start Time", class: "control-label" %>
  <%= f.time_field :lunch_start, class: "form-control" %>

  <%= f.label :lunch_end, "Start Time", class: "control-label" %>
  <%= f.time_field :lunch_end, class: "form-control" %>

  <div class="form-group">
    <div class="offset3 col-sm-offset-3 col-sm-6">
      <%= button_tag(type: "submit", class: "btn btn-default float-btn btn-lg btn-block", title: "Submit") do %>
        <i class="fa fa-sign-in fa-fw"></i> Submit
      <% end %>
    </div>
  </div>

<% end %>